@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

/*Убирает крестик в текст-боксе IE*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*Убирает лишни отступы и пробелы в кнопках браузера FireFox*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}

body.lock {
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 3px 2px rgba(146, 146, 146, 0.25);
          box-shadow: 0px 3px 2px rgba(146, 146, 146, 0.25);
}

.header__body {
  width: 299px;
  margin: 0px auto;
}

.header__row {
  padding: 13px 0px 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__column {
  padding: 0px 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.header__menu {
  cursor: pointer;
}

.header__menu button {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.header__menu button span {
  display: inline-block;
}

.header__menu button span object {
  position: relative;
  z-index: -1;
}

.header__add-user a {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.header__add-user a span {
  display: inline-block;
}

.header__add-user a span object {
  position: relative;
  z-index: -1;
}

.header__search {
  padding: 0px 0px 17px 0px;
}

.header__title {
  font-size: 23px;
  line-height: 27px;
}

.header input {
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 0px 2px 2px #dedede;
          box-shadow: 0px 2px 2px #dedede;
  padding: 0px 20px;
  border-radius: 50px;
  width: 299px;
  height: 28px;
  background: #ffffff;
}

.container {
  max-width: 375px;
  margin: 0px auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffffff;
}

.content__body {
  max-width: 349px;
  margin: 97px 13px 0px;
  padding: 23px 0px;
  min-height: 568px;
  background: url("../img/background-logo.svg") 50% 50%/auto 220px no-repeat fixed;
}

.content__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin: 0px 0px 15px 0px;
}

.content__row:last-child {
  margin: 0;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 25px 14px;
}

.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__name {
  font-size: 16px;
  line-height: 19px;
  margin: 0px 20px 7px 0px;
}

.item__user {
  background: #71d74d;
  border-radius: 2.4px;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  padding: 1px 8px 1px 8px;
  margin: 0px 0px 0px 6px;
}

.item__admin {
  background: #e64e4e;
  border-radius: 2.4px;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  padding: 1px 7px 1px 8px;
  margin: 0px 0px 0px 6px;
}

.item__sign {
  font-size: 12px;
  line-height: 14px;
  color: #aaaaaa;
}

.item__btn {
  position: relative;
  padding: 7px 18px 6px 18px;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
          box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
  border-radius: 24px;
  cursor: pointer;
}

.item__btn:active {
  position: relative;
  top: 2px;
  left: 0px;
  -webkit-box-shadow: inset 0px 2px 2px rgba(146, 146, 146, 0.25);
          box-shadow: inset 0px 2px 2px rgba(146, 146, 146, 0.25);
}

.item__btn:hover {
  background: #dfdfdf;
}

.item__wheel {
  background-image: url("../img/icons/wheel.svg");
  width: 17px;
  height: 17px;
}

.item__wheel-check {
  display: none;
}

.item__wheel-list {
  display: none;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: -131px;
  background: #ffffff;
  border: 1px solid #c5c5c5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.item__wheel-list li a {
  display: inline-block;
  width: 184px;
  padding: 14px 0px 15px 19px;
}

.item__wheel-list li:hover {
  background: #f1f1f1;
}

.item__wheel-list li:active {
  background: #dfdfdf;
}

.item__wheel-list li:last-child {
  margin: 0;
}

.item__wheel-link {
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.clicked {
  display: block;
}

.popup {
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(97, 97, 97, 0.65);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 13px;
}

.popup__content {
  max-width: 349px;
  background: #f1f1f1;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.popup__title {
  line-height: 22px;
  font-size: 19px;
  text-align: center;
  padding: 24px 0px 20px 0px;
}

.popup__wrapper-input {
  padding: 0px 33px 32px 33px;
}

.popup__wrapper-input .inputs {
  padding: 0px 0px 0px 35px;
  background: #ffffff;
  width: 283px;
  height: 40px;
  -webkit-box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
          box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
  border-radius: 5px;
  font-size: 12px;
}

@media (max-width: 350px) {
  .popup__wrapper-input {
    padding: 0px 16px 32px 16px;
  }
  .popup__wrapper-input .inputs {
    width: 260px;
  }
}

.popup__type-user {
  margin: 0px 0px 23px 0px;
  position: relative;
}

.popup__type-user::before {
  content: "";
  background: url("../img/popup-add-user/type-users.svg") 0 0 no-repeat;
  width: 12.69px;
  height: 15.69px;
  position: absolute;
  top: 10px;
  left: 11px;
}

.popup__username {
  margin: 0px 0px 23px 0px;
  position: relative;
}

.popup__username::before {
  content: "";
  background: url("../img/popup-add-user/client-name.svg") 0 0 no-repeat;
  width: 12.69px;
  height: 12.69px;
  position: absolute;
  top: 13px;
  left: 11px;
}

.popup__company {
  margin: 0px 0px 23px 0px;
  position: relative;
}

.popup__company::before {
  content: "";
  background: url("../img/popup-add-user/company.svg") 0 0 no-repeat;
  width: 12.69px;
  height: 13.69px;
  position: absolute;
  top: 12px;
  left: 11px;
}

.popup__login {
  margin: 0px 0px 23px 0px;
  position: relative;
}

.popup .edit input {
  background: #f6f6f6;
  color: black;
}

.popup__login::before {
  content: "";
  background: url("../img/popup-add-user/login-or-email.svg") 0 0 no-repeat;
  width: 12.69px;
  height: 10.15px;
  position: absolute;
  top: 15px;
  left: 11px;
}

.popup__userpass {
  position: relative;
}

.popup__userpass::before {
  content: "";
  background: url("../img/popup-add-user/password.svg") 0 0 no-repeat;
  width: 11px;
  height: 13.32px;
  position: absolute;
  top: 13px;
  left: 12.09px;
}

.popup__wrapper-button {
  max-width: 283px;
  margin: 0px auto;
  padding: 0px 0px 31px 0px;
}

@media (max-width: 350px) {
  .popup__wrapper-button {
    max-width: 258px;
  }
}

.popup__button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -9px;
}

.popup__button-columns {
  padding: 0px 9px;
}

.popup__button-cancel {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #c4c4c4;
  overflow: hidden;
  border-radius: 10px;
}

.popup__button-cancel button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2e2e2e;
  font-size: 11px;
  line-height: 13px;
  width: 133px;
  height: 46px;
}

@media (max-width: 350px) {
  .popup__button-cancel button {
    width: 120px;
  }
}

.popup__close-link {
  background: #ffffff;
}

.popup__button-submit {
  background: #002c5b;
  overflow: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__button-submit button {
  background: #002c5b;
  color: #ffffff;
  font-size: 11px;
  line-height: 13px;
  width: 132px;
  height: 46px;
}

@media (max-width: 350px) {
  .popup__button-submit button {
    width: 120px;
  }
}

.select {
  position: relative;
  width: 283.18px;
  height: 39.58px;
  margin: 0px 0px 23px 0px;
  z-index: 1;
}

.select[data-state="active"] .select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.select[data-state="active"] .select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.select[data-state="active"] .select__content {
  opacity: 1;
}

.select[data-state="active"] .select__label + .select__input + .select__label {
  max-height: 40px;
}

.select[data-state="active"] .select__label + .select__input + .select__label::before {
  opacity: 1;
}

.select:before {
  content: "";
  width: 12.69px;
  height: 15.69px;
  position: absolute;
  top: 10px;
  left: 11px;
  background: url("../img/popup-add-user/type-users.svg") 0 0 no-repeat;
}

.select .select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 35px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
          box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
  cursor: pointer;
}

.select .select__title::before, .select .select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: black;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.select .select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.select .select__content {
  position: absolute;
  top: 39px;
  left: 0px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 283.18px;
  overflow: hidden;
  background-color: #ffffff;
  border: 0.5px solid #aaaaaa;
  border-radius: 0px 0px 5.07px 5.07px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.select .select__content-edit {
  position: absolute;
  top: 39px;
  left: 0px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 283.18px;
  overflow: hidden;
  background-color: #ffffff;
  border: 0.5px solid #aaaaaa;
  border-radius: 0px 0px 5.07px 5.07px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.select .select__input {
  display: none;
}

.select .select__input:checked + label {
  background-color: #dedede;
}

.select .select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.select .select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 35px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.select .select__label:hover {
  background-color: #f1f1f1;
}

.select .select__label::before {
  content: attr(data-value);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
}

.select .select__label:nth-child(2) {
  border-bottom: 0.5px solid #aaaaaa;
}

.aside {
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(97, 97, 97, 0.65);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.aside__body {
  width: 246px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background: #fff;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}

.aside .aside-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.aside__column {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.aside__top {
  background: #f1f1f1;
  -webkit-box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
          box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
  min-height: 127px;
  margin: 0px 0px 15px 0px;
}

.aside__top-img {
  background: url("../img/burger-menu/logo.svg") 0 0 no-repeat;
  width: 84px;
  height: 86px;
  margin: 8px 82px 3px 80px;
}

.aside__top-username {
  margin: 8px 11px 13px 11px;
  font-size: 16px;
  line-height: 19px;
}

.aside__section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aside__section-main {
  padding: 0px 0px 18px 0px;
  margin: 0px 0px 14px 0px;
  border-bottom: 1px solid #c4c4c4;
}

.aside__section-servers {
  display: block;
  height: 45px;
  padding: 15px 18px 14px 51px;
  position: relative;
  cursor: pointer;
  background: #fff;
}

.aside__section-servers::before {
  content: "";
  background: url("../img/burger-menu/Servers.svg") 0 0 no-repeat;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 14px;
  left: 18px;
}

.aside__section-servers:hover {
  background: #f1f1f1;
}

.aside__section-users {
  background: #fff;
  display: block;
  height: 45px;
  padding: 15px 18px 14px 51px;
  position: relative;
  cursor: pointer;
}

.aside__section-users::before {
  content: "";
  background: url("../img/burger-menu/Users.svg") 0 0 no-repeat;
  width: 22px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 18px;
}

.aside__section-users:hover {
  background: #f1f1f1;
}

.aside__section-exit {
  background: #fff;
  display: block;
  height: 45px;
  padding: 15px 18px 14px 51px;
  position: relative;
  cursor: pointer;
}

.aside__section-exit::before {
  content: "";
  background: url("../img/burger-menu/exit.svg") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 14px;
  left: 18px;
}

.aside__section-exit:hover {
  background: #f1f1f1;
}

.aside__bottom {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__bottom-row {
  width: 96px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #aaaaaa;
}

.add-u-ser {
  background: #e5e5e5;
}

.content-popup-2 {
  max-width: 100%;
  background: #e5e5e5;
  border: none;
  border-radius: none;
}

.wrapper-add-u-serv {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-add-u-serv {
  max-width: 375px;
  margin: 0px auto;
}

.header-add-u-serv {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.header-add-u-serv__row-add-u-serv {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 78px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-add-u-serv__search-add-u-serv {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 349px;
  margin: 19px 13px;
}

.header-add-u-serv__search-add-u-serv input {
  padding: 0px 35px;
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 0.5px solid #aaaaaa;
  -webkit-box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
          box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
  border-radius: 5.07498px 5.07498px 5.07px 5.07px;
}

.header-add-u-serv__tabs-add-u-serv {
  background: #e5e5e5;
}

.header-add-u-serv__tabs-row-add-u-serv {
  margin: 0px auto;
  max-width: 331px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid #cbcbcb;
}

.header-add-u-serv__tabs-columns-add-u-serv {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 331px;
}

.header-add-u-serv__tabs-item-add-u-serv {
  text-align: center;
  margin-bottom: 12px;
}

.header-add-u-serv__tabs-item-add-u-serv a {
  line-height: 14px;
  font-size: 12px;
  color: #000000;
}

.gradient-top {
  width: 100%;
  display: none;
  height: 20px;
  margin: 0px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #e5e5e5 0%, rgba(255, 255, 255, 0) 100%);
}

.content-add-u-serv {
  margin-top: 114px;
  margin-bottom: 102px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.selected {
  position: relative;
}

.selected a {
  color: #1e83bb;
}

.selected:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20%;
  width: 100px;
  height: 7px;
  background: #1e83bb;
  border-radius: 10px 10px 3px 3px;
}

.tabs-add-u-serv__body-add-u-serv {
  max-width: 349px;
  margin: 0px auto;
  margin: 0px 13px;
}

.tabs-add-u-serv__column-add-u-serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.5px solid #aaaaaa;
  border-radius: 10px;
  overflow: hidden;
}

.tabs-add-u-serv__rows-add-u-serv {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 40px;
  border-bottom: 0.5px solid #aaaaaa;
}

.tabs-add-u-serv__rows-add-u-serv:last-of-type {
  border-bottom: none;
}

.tabs-add-u-serv__item-add-u-serv:hover {
  background: #f1f1f1;
}

.tabs-add-u-serv__item-add-u-serv:hover .tabs__country-company {
  color: #000;
}

.tabs-add-u-serv__item-add-u-serv {
  padding: 13px 0px 13px 35px;
  height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.tabs-add-u-serv__checkbox-add-u-serv input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.tabs-add-u-serv__rows-add-u-serv:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 13px;
  left: 10px;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background: rgba(255, 255, 255, 0.75);
}

.tabs-add-u-serv__checkbox-add-u-serv.active:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  width: 15.1px;
  height: 10.5px;
  background: url("../img/icons/Check.svg") no-repeat;
}

.tabs-add-u-serv__name-company-add-u-serv {
  font-size: 12px;
  line-height: 14px;
}

.tabs-add-u-serv__country-company-add-u-serv {
  font-size: 12px;
  line-height: 14px;
  color: #aaaaaa;
  padding: 0px 25px 0 10px;
}

.footer-add-u-serv {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-add-u-serv__gradient {
  width: 100%;
  height: 20px;
  margin: 0px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#e5e5e5));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #e5e5e5 100%);
}

.footer-add-u-serv__row-add-u-serv {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 13px 25px 13px;
  margin: 0px -9px;
}

.footer-add-u-serv__column-add-u-serv {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 9px;
}

.footer-add-u-serv__item-add-u-serv button {
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 46px;
  max-width: 166px;
}

.footer-add-u-serv__btn-cancel-add-u-serv {
  background: rgba(255, 255, 255, 0.75);
  color: #2e2e2e;
  font-size: 11px;
  line-height: 13px;
}

.footer-add-u-serv__btn-submit-add-u-serv {
  background: #002c5b;
  color: #ffffff;
  font-size: 11px;
  line-height: 13px;
}

.check-pass:before {
  content: "";
  background: url("../img/popup-add-user/check.svg") 0 0 no-repeat;
  width: 15.1px;
  height: 10.5px;
  position: absolute;
  top: 15px;
  right: 16.48px;
}

.check-pass:after {
  content: "Сложный";
  position: absolute;
  z-index: 5;
  top: 43px;
  right: 7px;
  font-size: 9px;
  line-height: 11px;
  color: #71d74d;
}

.check-neg-pass:before {
  content: "";
  background: url("../img/popup-add-user/cross.svg") 0 0 no-repeat;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 15px;
  right: 16.48px;
}

.check-neg-pass:after {
  content: "Простой";
  position: absolute;
  z-index: 5;
  top: 43px;
  right: 5px;
  font-size: 9px;
  line-height: 11px;
  color: #e64e4e;
}

.check-neg-login:before {
  content: "";
  background: url("../img/popup-add-user/cross.svg") 0 0 no-repeat;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 15px;
  right: 16.48px;
}

.check-neg-login:after {
  content: "Занят";
  position: absolute;
  z-index: 5;
  top: 43px;
  right: 10px;
  font-size: 9px;
  line-height: 11px;
  color: #e64e4e;
}

.check-login:before {
  content: "";
  background: url("../img/popup-add-user/check.svg") 0 0 no-repeat;
  width: 15.1px;
  height: 10.5px;
  position: absolute;
  top: 15px;
  right: 16.48px;
}

.check-login:after {
  content: "Свободен";
  position: absolute;
  z-index: 5;
  top: 43px;
  right: 5px;
  font-size: 9px;
  line-height: 11px;
  color: #71d74d;
}
