@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "_nullstyle";

body {
	font-family: "Roboto", sans-serif;
	background: #e5e5e5;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	background: #f1f1f1;
	box-shadow: 0px 3px 2px rgba(146, 146, 146, 0.25);

	&__body {
		max-width: 299px;
		margin: 0px auto;
	}

	&__row {
		padding: 13px 0px 12px 0;
		display: flex;
		margin: 0px -25px;
		align-items: center;
	}

	&__column {
		padding: 0px 25px;
		flex: 0 1 33.333%;
	}
	&__menu {
		background: url("../img/icons/burger-menu.svg") 0 0 / 100% no-repeat;
		width: 21px;
		height: 13px;
		cursor: pointer;
	}

	&__add-user {

		a {
			display: inline-block;
			position: relative;
			z-index: 1;
			span {
				display: inline-block;
				object {
					position: relative;
					z-index: -1;
				}
			}
		}

	}

	&__search {
		padding: 0px 0px 17px 0px;
	}
	&__title {
		font-size: 23px;
		line-height: 27px;
	}
	input {
		border: 1px solid #c4c4c4;
		box-shadow: 0px 2px 2px #dedede;

		padding: 0px 20px;

		border-radius: 50px;
		min-width: 299px;
		height: 28px;

		background: #ffffff;
	}
}
.container {
	max-width: 375px;
	margin: 0px auto;
}

.content {
	flex: 1 1 auto;
	background: #ffffff;

	&__body {
		max-width: 349px;
		margin: 0px 13px;
		padding: 23px 0px;
		min-height: 568px;
		background: url("../img/background-logo.svg") 50% 50% / auto 220px no-repeat fixed;
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__row {
		flex: 1 1 auto;
		min-height: 100%;
		background: rgba(255, 255, 255, 0.75);
		border: 1px solid #c4c4c4;
		border-radius: 10px;
		// overflow: hidden;
		margin: 0px 0px 15px 0px;
	}
	&__row:last-child {
		margin: 0;
	}

	&__item {
	}
}
.item {
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 17px 25px 14px;
	}

	&__body {
		flex: 1 1 auto;
	}

	&__name {
		font-size: 16px;
		line-height: 19px;
		margin: 0px 20px 7px 0px; //20px
	}
	&__user {
		background: #71d74d;
		border-radius: 2.4px;
		font-size: 11px;
		line-height: 13px;
		color: #ffffff;
		padding: 1px 8px 1px 8px;
		margin: 0px 0px 0px 6px;
	}
	&__admin {
		background: #e64e4e;
		border-radius: 2.4px;
		font-size: 11px;
		line-height: 13px;
		color: #ffffff;
		padding: 1px 7px 1px 8px;
		margin: 0px 0px 0px 6px;
	}

	&__sign {
		font-size: 12px;
		line-height: 14px;
		color: #aaaaaa;
	}

	&__btn {
		position: relative;
		padding: 7px 18px 6px 18px;
		background: #f1f1f1;
		box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
		border-radius: 24px;
		cursor: pointer;
	}
	&__btn:active {
		position: relative;
		top: 2px;
		left: 0px;
		box-shadow: inset 0px 2px 2px rgba(146, 146, 146, 0.25);
	}

	&__btn:hover {
		background: #dfdfdf;
	}

	&__wheel {
		background-image: url("../img/icons/wheel.svg");
		width: 17px;
		height: 17px;
	}

	&__wheel-check {
	
		display: none;
	}
	&__wheel-check:checked + .item__wheel-list {

		display: block; 
	}
	&__wheel-list {
		display: none; 
		position: absolute;
		z-index: 2;
		top: 30px;
		left: 53px - 184px;
		min-width: 184px;

		background: #ffffff;
		border: 1px solid #c5c5c5;
		box-sizing: border-box;
		border-radius: 10px;
		overflow: hidden;
		li {
			padding: 14px 19px;
		}
		li:hover {
			background: #f1f1f1;
		}
		li:active {
			background: #dfdfdf;
		}

		li:last-child {
			margin: 0;
		}
	}

	&__wheel-link {
		font-size: 11px;
		line-height: 13px;
		color: #000000;
	}
}

.popup {
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(97, 97, 97, 0.65);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
	left: 0;
	// Скрытие
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
	transition: all 0.6s ease-in-out 0s;

	&.open {
		opacity: 1;
		visibility: visible;
	}


	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px 13px;
	}

	&__content {
		max-width: 349px;
		background: #f1f1f1;
		border: 1px solid #c4c4c4;
		border-radius: 10px;
	}

	&__form {
	}

	&__title {
		line-height: 22px;
		font-size: 19px;
		text-align: center;
		padding: 24px 0px 20px 0px;
	}
	&__wrapper-input {
		padding: 0px 33px 32px 33px;
		input {
			padding: 0px 0px 0px 35px;
			background: #ffffff;
			width: 283px;
			height: 40px;
			box-shadow: 0px 2px 2px rgba(146, 146, 146, 0.25);
			border-radius: 5px;
			font-size: 12px;
		}
		@media (max-width: 350px) {
			padding: 0px 16px 32px 16px;
			input {
				width: 260px;
			}
		}
	}
	&__username {
		margin: 0px 0px 23px 0px;
		position: relative;
	}
	&__username::before {
		content: "";
		background: url("../img/popup-add-user/client-name.svg") 0 0 no-repeat;
		width: 12.69px;
		height: 12.69px;
		position: absolute;
		top: 13px;
		left: 11px;
	}

	&__login {
		margin: 0px 0px 23px 0px;
		position: relative;
	}
	&__login::before {
		content: "";
		background: url("../img/popup-add-user/login-or-email.svg") 0 0 no-repeat;
		width: 12.69px;
		height: 10.15px;
		position: absolute;
		top: 15px;
		left: 11px;
	}

	&__userpass {
		position: relative;
	}
	&__userpass::before {
		content: "";
		background: url("../img/popup-add-user/password.svg") 0 0 no-repeat;
		width: 11px;
		height: 13.32px;
		position: absolute;
		top: 13px;
		left: 12.09px;
	}

	&__wrapper-button {
		max-width: 283px;
		margin: 0px auto;
		padding: 0px 0px 31px 0px;
		@media (max-width: 350px) {
			max-width: 258px;
		}
	}
	&__button-row {
		display: flex;
		margin: 0px -9px;
	}
	&__button-columns {
		padding: 0px 9px;
	}

	&__button-cancel {
		button {
			display: flex;
			align-items: center;
			justify-content: center;

			color: #2e2e2e;
			font-size: 11px;
			line-height: 13px;
			width: 133px;
			height: 46px;
		}
		@media (max-width: 350px) {
			button {
				width: 120px;
			}
		}
		background: rgba(255, 255, 255, 0.75);
		border: 1px solid #c4c4c4;
		box-sizing: border-box;
		overflow: hidden;
		border-radius: 10px;
	}

	&__close-link {
	}

	&__button-submit {
		button {
			background: #002c5b;
			color: #ffffff;
			font-size: 11px;
			line-height: 13px;
			width: 132px;
			height: 46px;
		}
		@media (max-width: 350px) {
			button {
				width: 120px;
			}
		}

		background: #002c5b;
		overflow: hidden;
		border-radius: 10px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
